@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main, section, ul, ol {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Outfit", sans-serif !important;
  font-size: 16px;
  color: #57524E;
  justify-content: center;
  font-size: 16px;
  font-weight: normal;
}

header {
  min-width: 320px;
  margin: 0 auto;
}
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

p, ol li {
  line-height: 24px;
}

hr {
  width: 100%;
  background-color: #E4E4E4;
}

.container {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 171.05px;
}

main {
  width: 100%;
  padding: 39px 32px;
  gap: 31px;
  height: 100%;
  max-height: 1900px;
  height: 100%;
}

.title {
  font-size: 36px;
  font-family: "Young Serif";
  color: #2E2D2C;
  max-width: 300px;
}

.subtitle {
  font-size: 28px;
  font-family: "Young Serif";
  color: #875D4D;
}

li::marker {
  color: #875D4D;
}

section:first-child {
  gap: 24px;
}

.preparation-time {
  height: 190px;
  background-color: rgba(250, 0, 125, 0.0352941176);
  border-radius: 16px;
  padding: 22px 32px;
  gap: 16px;
}
.preparation-time__title {
  font-size: 20px;
  color: #702744;
}
.preparation-time__list {
  padding-left: 24px;
  gap: 16px;
}
.preparation-time__list li {
  padding-left: 24px;
}
.preparation-time__list li::marker {
  color: #702744;
}
.preparation-time__list li span {
  font-weight: bold;
}

.ingredients {
  height: 235px;
  gap: 28px;
}
.ingredients ul {
  padding-left: 24px;
  gap: 16px;
}
.ingredients ul li {
  padding-left: 24px;
}

.instructions {
  gap: 27px;
  height: 669px;
}
.instructions ol {
  padding-left: 24px;
  gap: 8px;
}
.instructions ol li {
  padding-left: 24px;
}
.instructions ol li::marker, .instructions ol li span {
  font-weight: bold;
}

.nutrition {
  gap: 27px;
}
.nutrition p {
  padding-right: 16px;
}
.nutrition__table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.nutrition__table th, .nutrition__table td {
  padding: 10.3px 15px;
}
.nutrition__table th {
  text-align: left;
  font-weight: normal;
}
.nutrition__table td {
  font-weight: bold;
}
.nutrition__table tr:not(:last-child) {
  border-bottom: 1px solid #E4E4E4;
}
.nutrition__table tr:hover {
  background-color: #F3E5D8;
}

@media (min-width: 320px) {
  main {
    padding: 32px 8px;
  }
}
@media (min-width: 768px) {
  body {
    background-color: #F3E5D8;
  }
  .container {
    margin: 123px auto;
    border-radius: 24px;
    max-width: 736px;
    padding: 40px;
    background-color: hsl(0, 0%, 100%);
  }
  header {
    height: 300px;
  }
  header img {
    border-radius: 14px;
  }
  main {
    height: 1318px;
    min-height: 1318px;
    padding-left: 0;
    padding-right: 0;
    gap: 29px;
  }
  section:first-child {
    height: 119px;
  }
  .title {
    min-width: 100%;
  }
  .ingredients ul {
    gap: 9px;
  }
  .instructions ol {
    padding-left: 10px;
    gap: 7.5px;
  }
}

/*# sourceMappingURL=styles.css.map */
