@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(24, 5%, 18%);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Young Serif", serif;
}

hr {
  width: 100%;
  height: 1px;
  background-color: transparent;
  border: 1px solid hsl(30, 18%, 87%);
  margin: 40px 0;
}

ul {
  list-style: outside;
}

ol {
  list-style: outside decimal;
}

.ingredients ul, .instructions ol {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding-left: 20px;
}

li > span {
  font-weight: 700;
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(14, 45%, 36%);
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  h1,h2{
    line-height: 1 !important;
  }
  body {
    background-color: hsl(30, 54%, 90%) !important;
  }
  hr {
    margin: 30px 0 !important;
  }
  .container {
    background-color: hsl(0, 0%, 100%) !important;
    overflow: hidden;
    border-radius: 26px;
    width: 100%;
    max-width: 740px !important;
    margin: 123px auto 124px !important;
    padding: 40px 40px 0 !important;
    height: 1708px !important;
  }
  .header__image {
    border-radius: 16px;
    max-width: 740px !important;
    min-height: 300px !important;
  }
  .recipe {
    margin-top: 41px !important;
    padding: 0 !important;
    padding-top: 2px !important;
    font-size: 1rem !important;
  }
  .recipe-title {
    margin-bottom: 27px !important;
  }
  .recipe-description {
    margin-bottom: 30px !important;
  }
  .preparation-time{
    height: 177px !important;
    padding: 24px 27px !important;
  }
  .preparation-time__list {
    max-width: 100% !important;
  }
  .ingredients{
    height: 208px !important;
  }
  .ingredients h2{
    margin-bottom: 16px !important;
  }
  .ingredients ul{
    gap: 6px !important;
  }
  .instructions ol{
    gap: 8.8px !important;
  }
  .instructions li{
    padding-left: 10px !important;
  }
  .nutrition {
    width: 100%;
    margin: 0 auto;
    padding: 2px 0 !important;
  }
  .nutrition h2{
    margin-bottom: 27px !important;
  }
  .nutrition p{
    margin-bottom: 27px !important;
  }
  .nutrition__description {
    margin: 20px 0 !important;
  }
  .nutrition__table {
    height: 163px !important;
  }
  .nutrition__table-body{
    gap: 8px !important;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.header__image {
  width: 100%;
  max-width: 480px;
  height: 170px;
  object-fit: cover;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
  margin: 40px 0;
  color: hsl(30, 10%, 34%) !important;
  font-size: 1.05rem;
}
.recipe-title {
  font-size: clamp(2rem, 10vw, 3rem);
  margin-bottom: 30px;
  line-height: 1;
  color: hsl(24, 5%, 18%);
}
.recipe-description {
  margin-bottom: 40px;
}

.preparation-time {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 20px;
  background-color: hsl(330, 100%, 98%);
  margin-bottom: 30px;
}
.preparation-time__title {
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: hsl(332, 51%, 32%);
  margin-bottom: 10px;
}
.preparation-time__list {
  max-width: 260px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nutrition {
  margin: auto;
}
.nutrition__table {
  width: 100%;
  margin: 20px auto 0;
}
.nutrition__table-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.nutrition__table-body tr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 0 10px;
}
.nutrition__table-body tr:not(:last-child) {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutrition__table-body tr th {
  width: 50%;
  text-align: left;
  padding-left: 30px;
  color: hsl(30, 10%, 34%);
}
.nutrition__table-body tr td {
  width: 50%;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
